# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mac system files
.DS_Store

# project settings
HockeyHero.xcodeproj/project.xcworkspace/*
HockeyHero.xcodeproj/xcuserdata/*
